body{
  background-color:#443266;
  color:#443266;
}
.signin-form{
  border:2px solid #443266;
  border-radius:20px;
  margin:0 auto;
  width:300px;
}
h1{
}
.signin-inside{
  padding:10px;
  text-align:center;
}

.vote-form{
  margin:0 auto;
  width:550px;
  text-align:center;
}

.image{
  position:relative;
  cursor:hand;
  width:120px;
  float:left;
  height:170px;
  margin:5px;
  border:2px solid #C3C3E5;
}
.image-selected{
  border:2px solid grey;
}
.image-text{
  line-height:170px;
  text-align:center;
  font-family:'Bradley Hand ITC', cursive;
  font-size:55px;
}
.image-admin{
  position:relative;
  cursor:hand;
  width:120px;
  height:170px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  margin-top:5px;
  border:2px solid #C3C3E5;

}
.clear{
  clear:both;
}
.admin-container,
.vote-container{
  width:800px;
  margin:0 auto;
  padding-top:15px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  background-color:white;
  min-height:700px;
  border-left:3px solid;
  border-right:3px solid;
  text-align:center;
}
.vote-container h1{
  width:inherit;
  border-bottom:1px solid #443266;
  float:left;
  padding-bottom:15px;
}
#clients{
  margin:auto;
}
.vote-user{
  width:200px;
  text-align:center;
  border:3px solid #C3C3E5;
  padding-left:3px;
  padding-top:3px;
  padding-right:3px;
  padding-bottom:10px;
  margin:5px;
  float:left;
}
.vote-username{
  width:120px;
  font-size:25px;
}

.vote-item{
  margin:0 auto;
  text-align:center;
}
.voted{
  border:3px solid #00FF3C;
}
